body {
    background-color: #FCFAAF;
}

    
#container {background-color: #FCFAAF;
    width: 950px;
    margin: 20px auto;
    border: 2px solid #730202;
    padding: 20px;
    border-radius: 20px;
}
header {
    text-align: center;
    padding: 50 px;
}

h1 {
    color:#730202;
    font-size: 50 px;
}
h2{color:#730202;
}

nav {
    text-align: center;
    border-top: 4px solid #730202;
    border-bottom: 4px solid #730202;
    padding: 20px 0;
}

nav a{ 
    color: #730202;
    font-size: 30px;
    margin: 0 20px;
}  

main{
    margin: 20px auto;
    border: 2px solid #730202;
    padding: 20px;
    border-radius: 20px;
}

nav a:hover {
    color: #730202;
    text-decoration: none;
}

main h2{
    color: #730202;
    text-align: center;
}

main img{ 
    display:block;
    margin: 20px auto;
    width: 200px;
    border-radius: 20 px;
}

footer{ 
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid #730202;
}