/* Global Styles */
* { margin: 0;
}
body {
    background-color: #52591C;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

/* Mobile Styles */

#container {
    padding: 10px;
    border: 4px solid #BF1120;
}

nav {
    text-align: center;

}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a { 
    display: block;
    background-color: #F6E79B;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
    padding: 10px;
    border: 4px solid #BF1120;
}

nav li a:hover { 
    background-color: #BF1120;
}

main { 
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 10px 0;
}

.col img {
    border-radius: 10px;
    border: 2px solid #BF1120;
}

footer {
    padding: 40px;
    text-align: center; 
}

/* Tablet Styles */

@media (min-width: 768px) {
    nav {
        padding: 10px 0;
        margin-top: 10px;
        border-bottom: 4px solid #BF1120 ;
    }

    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }
main {
    margin-top: 10px;
}
 .col img {
    width: 100%
 }
}

/* Desktop Styles */
@media (min-width:1024px) {

#container {
    width: 65%;
    margin: 20px auto;
    background-color: #52591C;
}


.gallery{
    display: flex;
}

.col {
    
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.col_img { 
    width: 100%;
}

.col h3 {
    padding: 10px;
    text-align: center;
    color: #F6E79B;
}

.multi_col {
    display: flex;
}
section {
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
aside {
    display: block;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
    .img_style {
    width:30% ;
    border-radius: 10px;
    border: 2px solid #F6E79B;
    box-shadow:  2px 2px 5px black;
    margin-top: 10px;
    margin-bottom: 10px; }

   hr{
    border: 1px solid #BF1120;
}

h1 {color: #F6E79B;
text-align: center; 
text-shadow:2px 2px 2px black;}

h2 {color: #F6E79B;
text-align: center; 
text-shadow:2px 2px 2px black
}

h3 {
    text-align: center;
    color: #BF1120;
    text-shadow:2px 2px 2px black;
}

}
