/* Global Styles */

body {
    background-color:#FCEF91;
}

h1 {
    color: #D5EDF2;
    text-align: center; 
    text-shadow:2px 2px 2px black;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #D5EDF2;
    text-align: center; 
    text-shadow:2px 2px 2px black
}

h3 {
    text-align: center;
    color: #D5EDF2;
    text-shadow:2px 2px 2px black;
}

.paragraph{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

.bulleted{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px;
    }

img{
    width:200px;
    border-radius: 10px;
    border: 2px solid #8F854F;
    box-shadow:  2px 2px 5px black;
    display: block;
    margin: auto;
}
.video_style {
    width: auto;
    border-radius: 10px;
    border: 2px solid #8F854F;
    box-shadow:  2px 2px 5px black;
    margin-top: 10px;
    margin-bottom: 10px; 
    display: block;
    margin: auto;
    }

hr{
    border: 1px solid #8F854F;
}

a{
    color: #D5EDF2;
}

a:hover{
    text-decoration: none;}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;

}


  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}

.youtube_style {
    width: auto;
    border-radius: 10px;
    border: 2px solid #8F854F;
    box-shadow:  2px 2px 5px black;
    margin-top: 10px;
    margin-bottom: 10px; 
    display: block;
    margin: auto;
}


/* Mobile Styles */

#container {
border: 4px solid #D5EDF2;}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li { 
    display: block;
}

nav li a {
    display: block;
    background-color:#D9AA52 ;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 5px 0;
    border: 4px solid #D5EDF2;
}

nav li a:hover {
    padding: 10px;
    color: #D5EDF2;
}

header {
      width: 100%;
      background-image: url("../images/Final_Project_Banner.png");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat; 
    }


footer {
    padding: 40px;
    text-align: center;
}


/* Tablet Styles */

@media (min-width: 768px) {
nav {
        padding: 0;
        margin-top: 0 px;
        border-bottom: 4px solid #D9AA52 ;
    }

    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }

main {
    margin-top: 10px;
}

 .col img {
    width: 100%
 }

main { 
    padding: 10px;
    margin: 10px;
}

.work_section {
    padding: 10px;
}

.col {
    margin: 10px 0;
}
header {
      width: 100%;
      height: 500px;
      background-image: url("../images/Final_Project_Banner.png");
      background-size: 100%;
      background-position: top;
      background-repeat: no-repeat;
    
    } 

    .multi_col {flex-direction: row;}

    .work_section {
        width: 70%;
    }

    .work_aside {
        width: 30%;
    border-left: 2px solid #8F854F;
    padding-left: 15px;
    }
}
/* Desktop Styles */
@media (min-width:1024px) {
#container {
    width: 65%;
    margin: 20px auto;
    background-color: #FCEF91;
}
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  
}
}

.col {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


.multi_col {
    display: flex;
}
 .work_section {
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.work_aside {
    width: 30%;
    margin: 10px;
    padding: 15px;
    border-left: 2px solid #8F854F;
 } 

header {
    width: 100%;
    height: 500px;
    background-image: url("../images/Final_Project_Banner.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat; 
    }


